<container class="">

    <row>
        <columns small="12" large="6" >
          <p class="small__header">ELSEWHERE</p>
          <p><a href="https://speakerdeck.com/zxhadow">- Presentations skills? got ya.</a></p>
          <p><a href="https://www.behance.net/gallery/22470139/Cyan-Woman-Portrait">- I can draw</a></p>
          <p><a target="_blank" href="https://github.com/zxhadow/responsive-email-resume-v2">- This repo</a></p>
        </columns>
        <columns small="12" large="6" >
          <p class="small__header">CONTACT</p>
          <p>- hello@rafaelmedina.me</p>
          <p><a target="_blank" href="https://github.com/zxhadow">- Github</a></p>
          <p><a target="_blank" href="https://www.linkedin.com/in/rafaelmedinareyna">- Linkedin</a></p>

        </columns>
    </row>



      <row>
      <columns small="12" large="12" class="padding-bottom-0">
        <p class="text-center close">&times;</p>
      </columns>
    </row>
    <row>
      <columns small="12" large="12">
        <a href="*|UNSUB|*" target="_blank"><p class="text-center bold">UNSUBSCRIBE</p></a>
      </columns>
    </row>

</container>
