<container>
    <row class="heading">


    </row>

    <row class="">
      <columns large="12" small="12" class="">
        <p class="heading__desc">
          Howdy <b>Onil,</b><br><br><br>
          First off, here is my resume <a href="https://drive.google.com/file/d/0BzJ3y6oFxNnJeVBvWmZPZXRpYkU/view?usp=sharing">resume</a> and <a href="https://drive.google.com/file/d/0BzJ3y6oFxNnJSlluVkhObnVPQms/view?usp=sharing">portfolio</a>.
          <br><br>
          I'm <a href="http://www.rafaelmedina.me/">Rafael Medina</a>, and probably a future UI/UX guy in your team. This position seems like a perfect fit for me and I will tell you why, but first let check your requirements:
        </p>
        <p>
          <ul>
            <br>
            <li class="checked">At least 3 to 5 years of experience in UI/UX design of web and mobile applications.</li>
            <p>Checked, been doing this since 2013.</p>
            <br>
            <li class="checked">Working knowledge of HTML5, CSS, JavaScript, responsive design.</li>
            <p>Checked, even with real remote experience at <a href="http://www.joystickinteractive.com/">joystick interactive</a></p>
            <br>
            <li class="checked">Strong verbal and written communications skills.</li>
            <p>Checked, there is no need to explain this one.</p>
            <br>
            <li class="checked">Development experience in front-end technologies is a plus.</li>
            <p>Checked, but I still want to improve these skills even higher.</p>
            <br>
            <li class="checked">Proficient understanding of cross-browser compatibility issues and ways to work around them.</li>
            <p>Yep, Safari is the new IE, the struggle is real.</p>
            <br>
            <li class="checked">Ability to work as a single contributor as well as team player.</li>
            <p>Sure.</p>
            <br>
            <li class="checked">Strong problem solving and analytical skills.</li>
            <p>Anyone working at the Tech industry won't survive very long without those skills.</p>
          </ul>
        </p>
        <br>
        <p class="heading__desc">
          I really love cars. When I was a kid, I drew cars every day. I worked just to get my hands around a <a href="http://www.carmagazine.co.uk/">car mag</a>, checked their specs and fill my collection.
          <br>
          <br>
          Having my opportunity to mix the car industry and tech for me, seems fascinating. It seems like you people made selling used cars like asking for taxi to pick you up. I'm really interested in seing how everyhing works at Instacarro.
        </p>
        <br>
        <br>
        <br>
        <p class="heading__desc">
          Let’s do this.<br>
          - Rafael Medina.
        </p>
      </columns>
    </row>
    <row>
      <columns>
        <spacer size="1" class="spacer"></spacer>
      </columns>
    </row>
</container>
